* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#board {
    width: 800px;
    margin: 50px auto;
}

body {
    background-color: black;
}

.tile {
    width: 100px;
    height: 100px;
    display: inline-block;
}

.tile:hover {
    opacity: 0.5;
}

.tile:active {
    opacity: 0.8;
}

.tile-color-white {
    background-color: lightgray;
}

.tile-color-black {
    background-color: gray;
}

.tile-color-cur {
    background-color: lightskyblue;
}

.tile-color-red {
    background-color: rgba(180, 60, 60, 0.8);
}

.tile-color-green {
    background-color: rgba(60, 180, 60, 0.8);
}

ul {
    height: 100px;
}

li {
    position: relative;
}

img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}